@model List<BTLWebMVC.Models.Product>
<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
    @foreach (var product in Model)
    {
        <div class="product-item category-@product.Category.CategoryID">
            <div class="product discount product_filter">
                <div class="product_image">
                    <a href="@Url.Action("Details", "Home", new { id = product.ProductID })">
                        <img src="~/Content/Images/@(product.Images.FirstOrDefault()?.ImageName ?? "default.jpg")" alt="">
                    </a>
                </div>
                <div class="product_info">
                    <h6 class="product_name"><a href="@Url.Action("Details", "Home", new { id = product.ProductID })">@product.ProductName</a></h6>
                    <div class="product_price">@product.UnitPrice.ToString("N0") VND</div>
                </div>
            </div>
            <div class="red_button add_to_cart_button"><a href="@Url.Action("Details", "Home", new { id = product.ProductID })">Mua Ngay</a></div>
        </div>
    }
</div>