@model List<BTLWebMVC.Models.Product>
@using PagedList.Mvc;
@using PagedList;
@{
    Layout = "~/Views/Shared/LayoutUsers.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="main_slider" style="background-image: url('@Url.Content("~/Content/Images/slider.jpg")');">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h6>Bộ Sưu Tập Công Nghệ Mới 2025</h6>
                    <h1 style="color:red">Giảm Đến 30% Cho Sản Phẩm Mới Nhất</h1>
                    <div class="red_button shop_now_button"><a href="#">shop now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2 id="new-arrivals">Sản Phẩm Mới</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">all</li>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".category-@category.CategoryID">@category.CategoryName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    @foreach (var product in Model)
                    {
                        <div class="product-item category-@product.Category.CategoryID">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <a href="@Url.Action("Details","Home", new {id = product.ProductID})">
                                        <img src="~/Content/Images/@(product.Images.FirstOrDefault()?.ImageName ?? "default.jpg")" alt="">
                                    </a>
                                </div>
                                @*<div class="favorite favorite_left"></div>*@
                                @*<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"></div>*@
                                <div class="product_info">
                                    <h6 class="product_name"><a href="@Url.Action("Details","Home", new {id = product.ProductID})">@product.ProductName</a></h6>
                                    <div class="product_price">@product.UnitPrice.ToString("N0") VND</div>
                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a href="@Url.Action("Details","Home", new {id = product.ProductID})">Mua Ngay</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>