@using System.Data.Entity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Shop</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/responsive.css">
    <link rel="stylesheet" href="~/Content/styles/pagination.css">
    <link rel="stylesheet" type="text/css" href="~/Content/styles/spinner.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    @{
        if (Session["AccountId"] != null && int.TryParse(Session["AccountId"].ToString(), out int account))
        {
            using (var context = new BTLWebMVC.App_Start.Context())
            {
                var customer = context.Customers
                    .Include(c => c.Account)
                    .FirstOrDefault(c => c.AccountID == account);

                if (customer != null)
                {
                    ViewBag.accountId = account != 0 ? account : 0;
                    ViewBag.cartItem = context.CartItems.Count(c => c.CustomerID == customer.CustomerID);
                    ViewBag.images = customer.Account?.ProfileImage ?? "profile.jpg";
                }
                else
                {
                    ViewBag.images = "profile.jpg";
                    ViewBag.cartItem = 0;
                    ViewBag.accountId = 0;
                }
            }
        }
        else
        {
            ViewBag.images = "profile.jpg";
            ViewBag.cartItem = 0;
        }
    }
    @{
        var accountId = Session["AccountId"];
    }
    <div id="loading-spinner">
        <div class="spinner"></div>
    </div>
    <script>
        window.addEventListener('load', function () {
            const loadingSpinner = document.getElementById('loading-spinner');
            if (loadingSpinner) {
                loadingSpinner.style.display = 'none';
            }
        });
    </script>
    <div class="super_container">
        <header class="header trans_300">
            <div class="main_nav_container">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <div class="logo_container">
                                <a href="@Url.Action("Index", "Home")">HPH<span>shop</span></a>
                            </div>
                            <nav class="navbar">
                                <ul class="navbar_menu">
                                    <li><a href="@Url.Action("Index", "Home")">Trang chủ</a></li>
                                    <li><a href="@Url.Action("categories", "Home")">Cửa hàng</a></li>
                                    @if (accountId != null)
                                    {
                                        <li><a href="@Url.Action("HistoryProduct", "UserCartItems", new {accountid = ViewBag.accountId})">Sản phẩm đã mua</a></li>
                                        <li><a href="#">lịch sử mua hàng</a></li>
                                        <li><a href="#">Giỏ hàng</a></li>
                                    }
                                    <li><a href="#">Liên hệ</a></li>
                                    <li class="account">
                                        <a href="#">
                                            Tài khoản
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="account_selection">
                                            @if (accountId == null)
                                            {
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                                                        <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal">
                                                        <i class="fa fa-user-plus" aria-hidden="true"></i> Đăng ký
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                                                        <i class="fa fa-unlock" aria-hidden="true"></i> Quên mật khẩu
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li><a href="#"><i class="fa-regular fa-user" aria-hidden="true"></i>Tài khoản</a></li>
                                                <li>
                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                                        <i class="fa fa-key" aria-hidden="true"></i> Đổi mật khẩu
                                                    </a>
                                                </li>
                                                <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a></li>
                                            }
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="navbar_user">
                                    <li><a href="#"><img src="~/Content/accountImages/@ViewBag.images" alt="Profile" class="user-icon" /></a></li>
                                    <li class="checkout">
                                        <a href="#">
                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                            <span id="checkout_items" class="checkout_items">@ViewBag.cartItem</span>
                                        </a>
                                    </li>
                                </ul>
                                <div class="hamburger_container">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="fs_menu_overlay"></div>
        <div class="hamburger_menu">
            <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
            <div class="hamburger_menu_content text-right">
                <ul class="menu_top_nav">
                    <li class="menu_item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li class="menu_item"><a href="@Url.Action("categories","Home")">Cửa hàng</a></li>
                    @if (accountId != null)
                    {
                        <li class="menu_item"><a href="@Url.Action("HistoryProduct", "UserCartItems", new {accountid = ViewBag.accountId})">Sản phẩm đã mua</a></li>
                        <li class="menu_item"><a href="#">Lịch sử mua hàng</a></li>
                        <li class="menu_item"><a href="#">Giỏ hàng</a></li>
                    }
                    <li class="menu_item has-children">
                        <a href="#">
                            Tài khoản
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="menu_selection">
                            @if (accountId == null)
                            {
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
                                        <i class="fa fa-sign-in" aria-hidden="true"></i> Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal">
                                        <i class="fa fa-user-plus" aria-hidden="true"></i> Đăng ký
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">
                                        <i class="fa fa-unlock" aria-hidden="true"></i> Quên mật khẩu
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li><a href="#"><i class="fa-regular fa-user" aria-hidden="true"></i>Tài khoản</a></li>
                                <li>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                                        <i class="fa fa-key" aria-hidden="true"></i> Đổi mật khẩu
                                    </a>
                                </li>
                                <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-sign-out" aria-hidden="true"></i> Đăng xuất</a></li>
                            }
                        </ul>
                    </li>
                    <li class="menu_item"><a href="#">Liên hệ</a></li>
                </ul>
            </div>
        </div>
        @RenderBody()
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                            <ul class="footer_nav">
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 info">
                        <p><i class="fas fa-envelope"></i> Email: <a href="#" style="text-decoration:none;">tanp6679@gmail.com</a></p>
                        <p><i class="fas fa-envelope"></i> Email: <a href="#" style="text-decoration:none;">dhao30167@gmail.com</a></p>
                        <p><i class="fas fa-envelope"></i> Email: <a href="#" style="text-decoration:none;">huong@gmail.com</a></p>
                    </div>
                    <div class="col-md-6 info">
                        <p><i class="fas fa-map-marker-alt"></i> Địa Chỉ: Phạm Hữu Lầu, TP.Cao Lãnh, Đồng Tháp, Việt Nam</p>
                        <p><i class="fas fa-info-circle"></i> Hỗ Trợ: 0898543919</p>
                        <p><i class="fas fa-user"></i> About Me: Ngô Tấn Phúc, Đào Thanh Hào, Trần Phước Hưỡng</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer_nav_container">
                            <div class="cr">&copy; 2025 Bản quyền thuộc về nhóm HPH. Được thiết kế với <i class="fas fa-heart" aria-hidden="true"></i> bởi <a href="#">nhóm HPH</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <script src="~/Scripts/jquery-3.7.0.min.js"></script>
        <script src="~/Scripts/popper.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/plugins/Isotope/isotope.pkgd.min.js"></script>
        <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
        <script src="~/plugins/easing/easing.js"></script>
        <script src="~/Scripts/custom.js"></script>
        @if (TempData["SuccessMessage"] != null)
        {
            <script>
                $(document).ready(function () {
                    alert(@Html.Raw(Json.Encode(TempData["SuccessMessage"])));
                    console.log("SuccessMessage: " + @Html.Raw(Json.Encode(TempData["SuccessMessage"])));
                });
            </script>
            TempData["SuccessMessage"] = null;
        }
        else if (TempData["ErrorMessage"] != null)
        {
            <script>
          $(document).ready(function () {
              alert(@Html.Raw(Json.Encode(TempData["ErrorMessage"])));
              console.log("ErrorMessage: " + @Html.Raw(Json.Encode(TempData["ErrorMessage"])));
          });
            </script>
            TempData["ErrorMessage"] = null;
        }
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Đăng nhập</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="loginForm">
                        <div class="mb-3">
                            <label for="username" class="form-label">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div id="loginMessage" class="text-danger mb-2"></div>
                        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#registerModal">Chưa có tài khoản? Đăng ký</a> |
                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal">Quên mật khẩu?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Đăng ký</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="registerForm">
                        <div class="mb-3">
                            <label for="newUsername" class="form-label">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="newUsername" name="newUsername" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Mật khẩu</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Đăng ký</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Đã có tài khoản? Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="forgotPasswordModalLabel">Quên mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="forgotPasswordForm">
                        <div class="mb-3">
                            <label for="email" class="form-label">Nhập email của bạn</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <button type="submit" class="btn btn-warning w-100">Gửi yêu cầu</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal">Quay lại Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Đổi mật khẩu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="changePasswordForm">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Mật khẩu hiện tại</label>
                            <input type="password" class="form-control" id="currentPassword" name="currentPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
                        </div>
                        <button type="submit" class="btn btn-danger w-100">Đổi mật khẩu</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#loginForm").submit(function (e) {
                e.preventDefault();

                var username = $("#username").val();
                var password = $("#password").val();

                $.ajax({
                    url: "/Login/Loginnew",
                    type: "POST",
                    data: { username: username, password: password },
                    success: function (response) {
                        if (response.success) {
                            if (response.redirectUrl) {
                                window.location.href = response.redirectUrl;
                            } else if (response.reload) {
                                location.reload();
                            }
                        } else {
                            $("#loginMessage").text(response.message);
                        }
                    },
                    error: function () {
                        $("#loginMessage").text("Có lỗi xảy ra, vui lòng thử lại!");
                    }
                });
            });
        });

    </script>
</body>
</html>
