@model IEnumerable<BTLWebMVC.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layoutmanager.cshtml";

}


<div class="content-wrapper">

    <div class="container py-4">
        <h2 class="mb-4">Danh sách khách hàng</h2>
    
        <div class="card shadow-sm">
            <div class="card-body p-0">
                <table class="table table-striped mb-0">
                    <thead class="table-dark">
                        <tr>
                            <th>Tải khoản</th>
                            <th>Tên khách hàng</th>
                            <th>Liên hệ</th>
                            <th>Địa chỉ</th>
                            <th>Quốc gia</th>
                            <th>Số điện thoại</th>
                            <th>email</th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Account.Username)</td>
                                <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
                                <td>@Html.DisplayFor(modelItem => item.ContactName)</td>
                                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                                <td>@Html.DisplayFor(modelItem=>item.Country)</td>
                                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                        

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
